@import "./reset/normalize";  
$firstBackground: #93A8AC;
$h1: #fff;
$white: #E6EBEO;

body {
  font-size: 16px;
  background: $firstBackground;
}

main {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  h1 {
    font-family: 'Bitter', serif;
    color: $h1;
    margin-bottom: 3rem;
  }
}

/* Quote Container */

[id=quoteContainer] {
  background: #fff;
  height: 25vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  [id=catPic] {
    flex-grow: 1;
    height: 100%;
    max-height: 100px;
    max-width:100px;
    margin-right: 2rem;
  }
  [id=quoteBlock] {
    max-width: 65%;
    flex-grow: 3;
    padding-left: 1rem;
    [id=quoteText] {
      font-size: 1.3rem;
      [id=quoteText]:before {
        content: "\201C"
      }
      [id=quoteText]:after {
        content: "\201D"
      }
    } 
    [id=quoteSource] {
      font-style: italic;
    }
  }
}


/* Buttons */

[id=buttons] {
  margin-top: 2rem;
  .btn {
    padding: 15px 10px;
    border: 1px solid #000;
    display: inline-block;
    text-decoration: none;
    min-width: 125px;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
  }
}

footer {
  height: 3vh;
  text-align: right;
  color: $h1;
  a {
    text-decoration: none;
    color: $h1;
    display: inline-block;
    padding-right: 1rem;
  }
}









