* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.componentsWrapper {
  display: flex;
}

[id=refinements] {
  flex: 1;
  border: 1px solid black;
}

.pet-list-container {
  flex: 3;
  border: 1px solid red;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
}

.pet-list li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width:25%;
  border: 1px solid #ccc;
}
